NEXTAUTH_URL=https://dumplingandcakeblog-admin.vercel.app
NEXTAUTH_SECRET=replace_me

GITHUB_OAUTH_CLIENT_ID=Ov23lirtOG8soGWtj2U7
GITHUB_OAUTH_CLIENT_SECRET=1892515be96fc78bf8da3214cd6249d17595359e

# Comma-separated usernames (login)
ALLOWED_GITHUB_USERS=tianshihao2003

GITHUB_OWNER=tianshihao2003
GITHUB_REPO=dumplingandcakeblog
GITHUB_BRANCH=main

# Fine-grained PAT with Contents: Read and write (for the repo)
GITHUB_TOKEN=

